:root {
  --primary-orange-color: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Overpass', sans-serif;
  background-color: var(--very-dark-blue);
  color: var(--white);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 420px;
  height: 420px;
  margin: 200px auto;
  padding: 25px;
  background-image: linear-gradient(
    to bottom,
    hsl(212, 18%, 14%),
    hsl(220, 16%, 11%)
  );;
  border: none;
  border-radius: 34px;
}

/* VOTE PAGE */

.star {
  background-color: var(--dark-blue);
  padding: 15px 15px 11px 15px;
  border-radius: 50%;
  width: fit-content;
  position: relative;
  margin-bottom: 30px;
}

.main-question {
  font-size: 26px;
  font-weight: 700;
}

.main-text {
  font-size: 15px;
  font-weight: 400;
  margin: 30px 0;
  line-height: 1.7;
  color: var(--light-grey);
}

.vote {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}

.rate-btn {
  background-color: var(--dark-blue);
  padding: 15px 20px;
  border-radius: 50%;
  margin-bottom: 30px;
  border: none;
  color: var(--light-grey);
  transition: 0.3s;
}

.rate-btn:hover {
  background-color: var(--light-grey);
  cursor: pointer;
  color: var(--white);
}

.rate-btn:focus {
  background-color: var(--primary-orange-color);
  color: var(--white);
} 

.submit_button {
  background-color: var(--primary-orange-color);
  color: var(--white);
  padding: 15px 10px;
  width: 100%;
  border: none;
  text-transform: uppercase;
  border-radius: 25px;
  font-size: 15px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.3s;
}

.submit_button:hover {
  background-color: var(--white);
  color: var(--primary-orange-color);
}

/* THANK YOU PAGE */

.hidden {
  display: none;
}
.thank-you-image {
  text-align: center;
  margin: 20px 0;
}

.choice {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  color: var(--primary-orange-color);
  background-color: var(--dark-blue);
  border-radius: 20px;
  margin: 20px 0;
  padding: 4px 0;
 /* width: 200px; */
}

.thank {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  margin: 25px 0;
}

.thank-text {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  color: var(--light-grey);
  margin: 20px 0;
}

/* FOOTER */

.attribution {
  font-size: 11px;
  text-align: center; 
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 25px;
}

.attribution a {
   color: hsl(228, 45%, 44%); 
}

@media (max-width: 630px) {
  .card {
    max-width:350px;
    margin: 100px auto;
  }
}


